body { font-size: 100%; line-height: 100%; padding: 5px; }
#logout { float: right; }
	
div.container-fluid {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
}

table.form td { border: none; }
table.table input { width: 90px; margin: 0; padding: 0; }
